dotenv~=0.9.9
python-dotenv~=1.1.0
SQLAlchemy~=2.0.41
python-jose~=3.5.0
gspread~=6.2.1
google~=3.0.0
protobuf~=6.31.1
google-auth-oauthlib~=1.2.2
google-api-python-client~=2.170.0
fastapi~=0.115.12
starlette~=0.46.2
pydantic~=2.11.5
passlib~=1.7.4
uvicorn~=0.23.2
